.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-width-85 {
  width: 85%;
}
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 50px !important;
}
