<div class="breadcrumbs">
    <ul>
        <li><a routerLink="/tenant"><span><i class="fal fa-home mr-2"></i>Tenant</span></a></li>
        <li><a routerLink="/branches"><span>Branches</span></a></li>
        <li><a routerLink="/branches/{{branchId}}/{{tenantId}}/operations"><span>Operations</span></a></li>
        <li><a class="active"><span>
                    License Key </span></a></li>
    </ul>
</div>
<div class="card">
    <div class="card-head"><i class="fal fa-calendar mr-3" aria-hidden="true"></i> License Key For <strong>
            {{branchName}}</strong></div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 align"><span><b>{{branchkey}}</b></span></div>
            <div class="col-6">
                <div class="right">
                    <button class="btn-icon-event" mat-stroked-button color="primary" matTooltip="Create License Key"><i
                            class="fa fa-undo fa-lg" aria-hidden="true"></i></button>
                    <button class="btn-icon-event ml-3" mat-stroked-button color="warn"
                        matTooltip="Revoke License Key"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                    <button class="btn-icon-event ml-3" mat-stroked-button matTooltip="Refresh"><i
                            class="fa fa-refresh fa-lg" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>