<div class="breadcrumbs">
  <ul>
    <li><a routerLink="/tenant"><span><i class="fal fa-home mr-2"></i>Tenant</span></a></li>
    <li><a routerLink="/branches"><span>Branches</span></a></li>
    <li><a routerLink="/branches/{{branchId}}/{{tenantId}}/operations"><span>Operations</span></a></li>
    <li><a class="active"><span>
          Copy Menu </span></a></li>
  </ul>
</div>
<div class="card">
  <div class="card-head"><i class="fal fa-calendar mr-3" aria-hidden="true"></i>Copy Menu For <strong>
    {{branchName}}</strong></div>
  <div class="card-body">
    <form [formGroup]="Form">
      <div class="row">

        <div class="col-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>From Branch</mat-label>
            <mat-select formControlName="from_branch_id">
              <mat-option [value]="i.id" *ngFor="let i of branchArray">
                {{i.name}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="Form.controls['from_branch_id'].hasError('required' ) && Form.controls['from_branch_id'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>To Branch</mat-label>
            <mat-select formControlName="to_branch_id">
              <mat-option [value]="branchId">
                {{selectedBranchName}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="Form.controls['to_branch_id'].hasError('required' ) && Form.controls['to_branch_id'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="right">
      <!-- <button mat-stroked-button class="mr-2" color="warn" (click)="reset()">
        <mat-icon matSuffix>restart_alt</mat-icon>Reset
      </button> -->
      <button mat-stroked-button color="primary" (click)="submit()">
        <mat-icon matSuffix>app_registration</mat-icon>Submit
      </button>
    </div>
  </div>
</div>
