<mat-toolbar color="light" style="border-bottom: 1px solid #d8e1e5;">
  <mat-toolbar-row>
  <span class="example-spacer"></span>
  <!-- <mat-form-field class="example-full-width mt-4 mr-4" appearance="outline">
    <mat-label>Region</mat-label>
    <mat-select (selectionChange)="countrySeleceted()"  [(ngModel)]="countrySelected">
      <mat-option *ngFor="let i of countriesArray" [value]="i.id" >
        <img alt="" class="example-option-img" [src]="imagePath + '/' + i.flag" height="25">
        {{i.name}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <i class="fal fa-user" style="font-size: 15px;font-weight: 400;" aria-hidden="true"></i>    </button> -->
    <span style="font-size: 17px;color: #8697a0" data-toggle="dropdown" >Irshad K</span>
     <span class="fa fa-caret-down ml-2" style="color:#8697a0;cursor: pointer;" data-toggle="dropdown" title="Toggle dropdown menu"></span>
      <ul class="dropdown-menu" style="color: grey">
        <li style="cursor: pointer;"><a><i class="fa fa-user-circle fa-fw mr-3 ml-3"></i> Profile</a></li>
        <li style="cursor: pointer;"><a (click)="logout()"><i class="fal fa-sign-out fa-fw mr-3 ml-3"></i>Logout</a></li>
      </ul>
</mat-toolbar-row>
</mat-toolbar>
