<div class="breadcrumbs">
  <ul>
    <li><a routerLink="/tenant"><span><i class="fal fa-home mr-2"></i>Tenant</span></a></li>
    <li><a routerLink="/branches"><span>Branches</span></a></li>
    <li><a class="active"><span>Operations</span></a></li>
  </ul>
</div>
<h1>Branch Setup for <strong>{{branchName}}</strong></h1>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <div class="ag-courses_box" (click)="moduleManagement()">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                Module Management
              </div>
            </a>
          </div>

        </div>
      </div>
      <!-- <div class="col-4">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                Menu Management
              </div>
            </a>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-4">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link" (click)="menuCopy()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                Copy Menu
              </div>
            </a>
          </div>
        </div>
      </div> -->
      <div class="col-4">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link" (click)="copyModifiers()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                Copy Menu
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link" (click)="registrations()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                Registration
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="row mt-2">
    

      <div class="col-4">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link" (click)="assignStaff()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
               Customer Support
              </div>
            </a>
          </div>

        </div>
      </div>
      <div class="col-4">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link" (click)="staffManagment()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                Staff Management
              </div>
            </a>
          </div>

        </div>
      </div>
      <div class="col-4">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link" (click)="customerUpload()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                Customer Upload
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-4">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link" (click)="printerLogo()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                Printer Logo
              </div>
            </a>
          </div>
         </div>
      </div> 
      <div class="col-4">
        <div class="ag-courses_box">
          <div class="ag-courses_item">
            <a class="ag-courses-item_link" (click)="licenseKey()">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                License Key
              </div>
            </a>
          </div>
         </div>
      </div>
    </div>
  </div>
