<div class="modal-wrapper">
  <h2 mat-dialog-title *ngIf="data?.operation != 'edit'">Add Branch</h2>
  <h2 mat-dialog-title *ngIf="data?.operation == 'edit'">Update Branch</h2>

  <div mat-dialog-content>
    <form [formGroup]="branchForm" class="mt-3">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Name*</mat-label>
            <input type="text" matInput formControlName="name">
            <mat-error *ngIf="branchForm.controls['name'].hasError('required' ) && branchForm.controls['name'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
         <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Country*</mat-label>
            <mat-select formControlName="country_id">
              <mat-option [value]="i.id" *ngFor="let i of countriesArray">
                {{i.name}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="branchForm.controls['country_id'].hasError('required' ) && branchForm.controls['country_id'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>City*</mat-label>
            <input type="text" matInput formControlName="city">
            <mat-error
              *ngIf="branchForm.controls['city'].hasError('required' ) && branchForm.controls['city'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
     
        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Contact No*</mat-label>
            <input type="text" matInput formControlName="contact_number">
            <mat-error
              *ngIf="branchForm.controls['contact_number'].hasError('required' ) && branchForm.controls['contact_number'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Currency*</mat-label>
            <mat-select formControlName="currency_id">
              <mat-option [value]="i.id" *ngFor="let i of currencyArray">
                {{i.currency}}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="branchForm.controls['currency_id'].hasError('required' ) && branchForm.controls['currency_id'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <h3 class="ml-2">User Details</h3>
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>User Name*</mat-label>
            <input type="text" matInput formControlName="user_name">
            <mat-error
              *ngIf="branchForm.controls['user_name'].hasError('required' ) && branchForm.controls['user_name'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>User Email*</mat-label>
            <input type="text" matInput formControlName="user_email">
            <mat-error
              *ngIf="branchForm.controls['user_email'].hasError('required' ) && branchForm.controls['user_email'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
     
        <div class="col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>User Password*</mat-label>
            <input type="password" matInput formControlName="user_password">
            <mat-error
              *ngIf="branchForm.controls['user_password'].hasError('required' ) && branchForm.controls['user_password'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>User Contact No*</mat-label>
            <input type="text" matInput formControlName="user_contact_no">
            <mat-error
              *ngIf="branchForm.controls['user_contact_no'].hasError('required' ) && branchForm.controls['user_contact_no'].touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex modal-btn-footer" mat-dialog-action>
    <button mat-stroked-button color="warn" style="border:1px solid grey" (click)="close()"
      class="commonBtnStyle  mr-2">Close</button>
    <button *ngIf="data?.operation != 'edit'" mat-stroked-button color="primary" style="border:1px solid grey"
      (click)="submit()" class="commonBtnStyle  mr-4">Submit</button>
    <button *ngIf="data?.operation == 'edit'" mat-stroked-button color="primary" style="border:1px solid grey"
      (click)="update()" class="commonBtnStyle  mr-4">Update</button>
  </div>
</div>
